<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto %></h2>
    <br>
    <% @superheroes.each_with_index do |superhero, i| %>
    <h2>Hero Name: <%= superhero.name %></h2>
    <h5>Hero Power: <%= superhero.power %></h5>
    <h5>Hero Biography: <%= superhero.bio %></h5>
    <% end %>
  </body>
</html>
